body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303031;
}
#root {
  background-image: linear-gradient(
    to right top,
    #303031,
    #3d3e3f,
    #4b4d4e,
    #5a5d5c,
    #6b6c6a
  );
}
#centerdiv {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 5px 12px rgb(48, 47, 47);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
